
.blog-intro {
    margin: 4rem auto;
    text-align: center;

    &__headline {
        margin-bottom: 4rem auto;
    }

    &__description {
        font-size: $font-size-large;
        line-height: ($line-height-base * 1.3);
        small {
            font-size: $font-size-small;
        }
    }
}
