
.post {
    max-width: 700px;
    margin: 50px auto 100px auto;

    &__headline, &__date, &__author {
        display: block;
        text-align: center;
    }

    &__headline {
        h1 {
            font-size: 30px;
            color: #000;
            font-weight: bold;
            margin-bottom: 0.25em;
        }
        h2 {
            font-size: 18px;
            color: $gray-light;
        }
        img {
            margin-bottom: 2em;
            max-width: 100px;
            max-height: 100px;
        }
        a:hover {
            text-decoration: none;
        }
    }

    &__info {
        margin: 50px auto;

        &:after {
            content: " ";
            display: block;
            width: 60%;
            margin: auto;
            width: 55px;
            margin: 1.5em auto;
            border-bottom: 1px solid #777777;
        }
    }

    &__youtube {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;

        & iframe,
        & object,
        & embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        font-family: Lato;
        font-size: 20px;
        line-height: 1.8em;

        h2 {
            margin-top: 2em;
            padding-left: 0.5em;
            padding-bottom: 0.5em;
            border-bottom: 1px solid $gray-lighter;

            & + p {
                margin-top: 0;
            }
        }

        p {
            margin: 1em auto;
        }

        a:hover {
            background: $link-hover-color;
            color: #fff;
        }

        blockquote {
            margin: 1em auto;

            font-style: italic;
            color: #000;
            font-size: 20px;

            p:first-child {
                margin-top: 0;
            }
        }

        img {
            margin: 4em auto;
            &.aligncenter {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .style1 {
            blockquote {
                border-left: 0px solid #55595c;
                margin-left: 2em;
                margin-right: 2em;
                padding-left: 0;

                color: black;

                small {
                    font-size: 0.75em;
                }

                strong {
                    color: $gray-dark;
                }
            }
        }

        .style2 {
            blockquote {
                border-left: 0px solid #55595c;
                margin-left: 0;
                padding-left: 0;
                text-align: center;
                font-size: 2em;
                line-height: 1.5em;
                small {
                    font-size: 0.6em;
                    &:before {
                        display: none;
                    }
                }
            }
        }

        .style3 {
            blockquote {
                border-left: 0px solid #55595c;
                margin-left: 0;
                padding-left: 0;
                text-align: center;
                font-size: 2em;
                line-height: 1.5em;

                small {
                    font-size: 0.6em;
                    &:before {
                        display: none;
                    }
                }

                &:before {
                    display: block;
                    content: '';
                    border-top: 4px solid $gray-light;
                    margin-bottom: 1em;
                }
                &:after {
                    display: block;
                    content: '';
                    border-bottom: 4px solid $gray-light;
                    margin-top: 1em;
                }
            }
        }

    }

    &__close-btn {
        position:fixed;
        top:5px;
        right:5px;
        padding: 20px 25px;
        font-size: 25px;
        color: $gray-base;
        border:0px solid #444;
        z-index: 999999;
        &:hover {
            background-color: $gray-lighter;
        }
    }

    &__comments {
        margin-top: 8rem;
    }
}
